body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem; /* Relative font size */
    margin: 0;
}

button, input, select, textarea {
    border-radius: 0;
    outline: none;
    box-shadow: none;
}

.btn-outline-light {
    color: white;
    border-color: white;
}

.btn-outline-light:hover {
    background-color: #6f42c1;
    color: black;
    border-color: #6f42c1;
}

.container {
    display: flex;
    justify-content: center; 
    align-items: flex-start;
    margin-top: 2vh; 
    margin-left: 5vw;
    font-size: 1rem;
    box-sizing: border-box; 
}

.container h2 {
    font-size: 2rem;
    padding: 3vw 0 0;
}

.container h3 {
    font-size: 1.5rem;
    padding: 1vw 0 0;
}

.container p {
    font-size: 1rem;
    padding: 1vw 0 0;
    margin: 0 0 1vw;
}